:root {
  --color-fondo: #868686;
  --color-texto: #e0e0e0;
  --color-principal: #333;
  --color-secundario: #2c2c2c;
  --color-Seleccionada: #add8e6;
  --color-encontrada: #8bb08b;
  --color-encontrada-texto: white;
  --color-no-encontrada: #e0e0e0;
  --color-sombra: rgba(0, 0, 0, 0.3);
}

body {
  background-color: var(--color-fondo);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

h1 {
  color: var(--color-texto);
}

#contenedorPrincipal {
  display: grid;
  justify-content: center;
  align-items: center;
  min-width: 900px;
  margin: 20px auto;
  background-color: var(--color-secundario);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 30px 30px 20px var(--color-sombra);
}

#puntaje,
#tiempo {
  color: var(--color-fondo);
  font-size: 24px;
  width: 200px;
  padding: 10px 20px;
  background-color: var(--color-principal);
  border-radius: 8px;
  box-shadow: 0 15px 20px var(--color-sombra);
  display: flex;
  justify-content: center;
  align-items: center;
}

#tiempo.tiempo-rojo {
  color: rgb(198, 18, 18);
}

#botonControl {
  color: var(--color-fondo);
  font-size: 24px;
  background-color: var(--color-principal);
  border-radius: 8px;
  box-shadow: 0 15px 20px var(--color-sombra);
}

#contenedorJuego {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#contenedorSopa {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 5px;
  min-width: 600px;
  margin: 20px auto;
  background-color: var(--color-principal);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 15px 20px var(--color-sombra);
}

#contenedorSopa div {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-no-encontrada);
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: #333;
  border: 1px solid #ddd;
  transition: background-color 0.3s;
}

#contenedorSopa div.seleccionada {
  background-color: var(--color-Seleccionada);
}

#palabrasPorEncontrar {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.listaDePalabras {
  margin: 20px auto;
  width: 200px;
  padding: 10px 20px;
  background-color: var(--color-principal);
  border-radius: 8px;
  box-shadow: 0 15px 20px var(--color-sombra);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listaDePalabras div {
  padding: 8px 16px;
  margin: 5px 0;
  background-color: var(--color-no-encontrada);
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
}

.listaDePalabras div.encontrada::after {
  height: 30px;
  padding: 5px;
  content: ' ✔️';
  color: green;
  justify-content: space-between;
}

.listaDePalabras div.noEncontrada {
  width: 100%;
  height: 30px;
  padding: 5px;
  background-color: var(--color-no-encontrada);
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.listaDePalabras div.encontrada {
  width: 100%;
  padding: 5px;
  height: 30px;
  background-color: var(--color-encontrada);
  color: var(--color-encontrada-texto);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}